#
# Copyright (c) 2024 Ernst Strüngmann Institute (ESI) for Neuroscience
# in Cooperation with Max Planck Society
#
# SPDX-License-Identifier: CC0-1.0
#

# Editor-related
.vscode

# Jupyter notebook clutter
.ipynb_checkpoints/
